

{block content}



	<h1>{_"Installation"}</h1>

	<h2>{_"Finish"}</h2>

	<p>
		{_"Thank you for your interesting"}
	</p>
	
	<h2>Links</h2>
	
	<h3>website</h3>
	<a href="{$websiteUrl}">{$websiteUrl}</a>
	
	<h3>administration</h3>
	<a href="{$websiteUrl}admin/">{$websiteUrl}admin/</a>
	
