{if $presenter->user->isAllowed("CoreModule") || isset($login)}

{css @CoreModule/panel/css/style.css, media=>'screen, projection, tv'}

<script type="text/javascript">
	var adminpanel = true;
	$(function() {
		{if $presenter instanceof \Venne\Application\UI\FrontPresenter}
		$("#venne-panel-roller a").click(function(){
			if(adminpanel){
				$.get("./?do={!$control->name}-closePanel");
				$("#venne-panel").animate({
					marginTop: "-35px"
				}, 200);
				$("#venne-panel-roller").animate({
					marginTop: "-7px"
				}, 200);
				$(this).text("open");
			}else{
				$.get("./?do={!$control->name}-openPanel");
				$("#venne-panel").animate({
					marginTop: "0px"
				}, 200);
				$("#venne-panel-roller").animate({
					marginTop: "23px"
				}, 200);
				$(this).text("close");
			}
			adminpanel = !adminpanel;
		});
		{/if}

		$("#venne-panel .elements a").hover(
		function(){
			cl = $(this).attr('class');
			cl = cl.toString().substr(7);
			$(".element-"+cl).addClass("element-hover");
		},
		function(){
			cl = $(this).attr('class');
			cl = cl.toString().substr(7);

			$(".element-"+cl).removeClass("element-hover");
		});
		
		$("#venne-panel .areas a").hover(
		function(){
			cl = $(this).attr('class');
			c = cl.toString().substr(7);
			$(".area-"+cl).addClass("area-hover");
		},
		function(){
			cl = $(this).attr('class');
			cl = cl.toString().substr(7);

			$(".area-"+cl).removeClass("area-hover");
		});

		{if $showAdminPanel}
		adminpanel = false;
		$("#venne-panel-roller a").text("open");
		{/if}

	});
</script>

{if $presenter instanceof \Venne\Application\UI\FrontPresenter}
<div id="venne-panel-roller" class="{if $showAdminPanel}closed{/if}">
	<a href="javaScript:;">close</a>
</div>
{/if}

<div id="venne-panel" class="{if $presenter instanceof \Venne\Application\UI\FrontPresenter}{if $showAdminPanel}closed{/if}{/if}">
	{if $presenter->user->isLoggedIn()}
	<div class="panel-left">
		<div class="first box">
			<img src="{$basePath}/resources/coreModule/admin/img/logo-solo.png" />
		</div>

		{*foreach $presenter->getPanelMenu()->getChildrens() as $item}
		<div class="box">
			{if $item->getChildrens()}<div class="popup">{/if}
				<a href="{$item->getLink()}"{if $item->getClass()} class="{$item->getClass()}"{/if}>{$item->getName()}</a>
			{if $item->getChildrens()}
				<div class="popup-open elements">
					<ul>
						{foreach $item->getChildrens() as $item2}
						<li><a href="{$item2->getLink()}" class="button-module{if $item2->getClass()} {$item->getClass()}{/if}">{$item2->getName()}</a></li>
						{/foreach}
					</ul>
				</div>
			</div>
			{/if}
		</div>
		{/foreach*}
	</div>
	<div class="panel-right">

		<div class="box first"><a href="{link logout!}">{_"Sign Out"}</a></div>

		<div class="box">{_"Hello"} {$presenter->user->identity->name}</div>


		{if $presenter instanceof \Venne\Application\UI\AdminPresenter}
		<div class="box"><a href="{$basePath}/">{_"View the Site"}</a></div>
		
		<div class="box">
			<div class="popup">
				{_"Mode"} <a href="javaScript:;">{$presenter->mode}</a>
				<div class="popup-open elements">
					<ul>
					{foreach $presenter->context->parameters["modes"] as $item}
						<li><a href="{plink this, 'mode'=>$item}">{$item}</a></li>
					{/foreach}
					</ul>
				</div>
			</div>
		</div>
		{else}
			{if $presenter->user->isAllowed("CoreModule")}
			<div class="box"><a href="{$basePath}/admin">{_"View the Administration"}</a></div>
			{/if}
		{/if}

		{if $presenter instanceof \Venne\Application\UI\FrontPresenter}
		<div class="box">
			<div class="popup">Mode
				{if $presenter->isModeModule()}<a href="javaScript:;">{_"Edit module"}</a>
				{elseif $presenter->isModeLayout()}<a href="javaScript:;">{_"Edit Layout"}</a>
				{elseif $presenter->isModeElements()}<a href="javaScript:;">{_"Edit Elements"}</a>
				{else}<a href="javaScript:;">{_"Normal"}</a>
				{/if}
				<div class="popup-open elements">
					<ul>
						<li><a href="{plink this, 'mode'=>0}">Normal</a></li>
						<li><a href="{plink this, 'mode'=>1}">Edit module</a></li>
						<li><a href="{plink this, 'mode'=>2}">Edit Layout</a></li>
						<li><a href="{plink this, 'mode'=>3}">Edit Elements</a></li>
					</ul>
				</div>
			</div>
		</div>
			
		<div class="box">
			<div class="popup">Language <a href="javaScript:;">{$presenter->lang}</a>
				<div class="popup-open elements">
					<ul>
						{foreach $presenter->context->core->languageRepository->findAll() as $entity}
						<li><a href="{plink changeLanguage!, alias=>$entity->alias}">{$entity->name}</a></li>
						{/foreach}
					</ul>
				</div>
			</div>
		</div>
		{/if}

	</div>
	{else}
<div class="panel-left">
		{form formLogin}
	<div class="first box">
			{_"Login:"} {input name}
	</div>
	<div class="box">
			{_"Password:"} {input password}
	</div>
	<div class="box">
			{input submit}
	</div>
		{/form}
</div>
	{/if}
</div>

{/if}