<h1>{_"Website settings"}</h1>

<ul class="toolbar">
	<li><a class=" {if $presenter->isLinkCurrent("Default:default")}active{/if}" href="{plink Default:}">{_"website"}</a></li>
	<li><a class=" {if $presenter->isLinkCurrent("Language:*")}active{/if}" href="{plink Language:}">{_"languages"}</a></li>
</ul>

