<h2>{_"Roles"}</h2>

<ul class="menu">
	<li><a n:href="default"{if $presenter->isLinkCurrent("*:default")} class="active"{/if}>list</a></li>
	<li n:if="$presenter->isAllowed('create')"><a n:href="create"{if $presenter->isLinkCurrent("*:create")} class="active"{/if}>create new</a></li>
</ul>
