<h1>{_"Security settings"}</h1>

<ul class="toolbar">
	
	<li n:if="$presenter->isAllowed('Security:Admin:Default:default')">
		<a href="{plink Default:}"{if $presenter->isLinkCurrent("Default:*")} class="active"{/if}>general</a>
	</li>
	<li n:if="$presenter->isAllowed('Security:Admin:Users:default')">
		<a href="{plink Users:}"{if $presenter->isLinkCurrent("Users:*")} class="active"{/if}>users</a>
	</li>
	<li n:if="$presenter->isAllowed('Security:Admin:Roles:default')">
		<a href="{plink Roles:}"{if $presenter->isLinkCurrent("Roles:*")} class="active"{/if}>roles</a>
	</li>
	<li n:if="$presenter->isAllowed('Security:Admin:Permissions:default')">
		<a href="{plink Permissions:}"{if $presenter->isLinkCurrent("Permissions:*")} class="active"{/if}>permissions</a>
	</li>

</ul>
